<%- include('./partials/_header.ejs') %>
   <body class="main-layout inner_page">
   <%- include('./partials/_loader.ejs') %>
       <%- include('./partials/_menu.ejs') %>
        <div class="text-center">
            <h1>404</h1>
            <h2>Page not found</h2>
            <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
            <a href="/">Go to Homepage</a>
        </div>
      

   <%- include('./partials/_footer.ejs') %>