<%- include('./partials/_header.ejs') %>
   <body class="main-layout inner_page">
       <%- include('./partials/_loader.ejs') %>
         <%- include('./partials/_menu.ejs') %>

      <!-- team -->
      <div>
        <h1>Dashboard Page</h1>
      </div>
      <!-- end team -->
      <!-- end footer -->
      <%- include('./partials/_footer.ejs') %>